In [2]:
library(hce, warn.conflicts = FALSE)
library(tidyverse)
library(gt)
library(survival)
# see what is being loaded by hce package
objects('package:hce')

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.4     v readr     2.1.5
v forcats   1.0.0     v stringr   1.5.1
v ggplot2   3.5.1     v tibble    3.2.1
v lubridate 1.9.4     v tidyr     1.3.1
v purrr     1.0.4
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

ERROR: Error in library(gt): there is no package called 'gt'

In [3]:
# Events
head(ADET)
# Follow up
head(ADLB)
# Baseline
head(ADSL)

  ID AVAL PARAM                              PARAMCD PARAMN TRTPN
1 11 359  Sustained >=50% decline in eGFR    EGFR50  5      2
2 11 467  Sustained >=57% decline in eGFR    EGFR57  4      2
3 11 359  Sustained >=40% decline in eGFR    EGFR40  6      2
4 11 841  Sustained eGFR<15 (mL/min/1.73 m2) EGFR15  3      2
5 15 962  Death (adj)                        DTHADJ  1      1
6 21 737  Sustained >=40% decline in eGFR    EGFR40  6      1

  ID TRTPN AVAL ADAY AVISITN PARAM             PARAMCD PARAMN
1 1  1     40   357   7      eGFR measurements eGFR    7
2 1  1     49   119   5      eGFR measurements eGFR    7
3 1  1     41   238   6      eGFR measurements eGFR    7
4 1  1     36   469   8      eGFR measurements eGFR    7
5 1  1     40   721  10      eGFR measurements eGFR    7
6 1  1     34   602   9      eGFR measurements eGFR    7

  ID TRTPN EGFRBL STRATAN
1 1  1     44     1
2 2  1     31     3
3 3  1     28     4
4 4  1     61     4
5 5  1     37     4
6 6  2     35     1

In [4]:
# Follow-up visits
sort(unique(ADLB$AVISITN))

 [1]  2  3  4  5  6  7  8  9 10 11 12 13